<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="5" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span class="cardHeader">{{card.title}}</span> 
            <button mat-icon-button class="more-button" aria-label="Toggle menu">
              <mat-icon>details</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <span>Area: </span><span>{{ card.area }}</span>
          </div>
          <div>
            <span>Teams number: </span><span>{{ card.teamsNumber }}</span>
          </div>
          <div>
            <span>Season match day: </span><span>{{ card.currentSeasonMatchDay }}</span>
          </div>
          <div>
            <span>Season start date: </span><span>{{ card.currentSeasonStartDate }}</span>
          </div>
          <div>
            <span>Season end date: </span><span>{{ card.currentSeasonEndDate }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
