/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.logo {
    max-width: 15px !important;
}

.details label {
    font-weight: bold;
}

.mat-cell:not(:first-child),
.mat-header-cell:not(:first-child) {
    padding: 10px 10px 10px 10px !important
}